.accordion__item:not(.accordion__item_show) .accordion__body {
    display: none;
}
.abracadabra {
    transform: translateY(-174px);
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
    &__card {
        &-title {
            color: rgb(121, 186, 42);
            font-size: 26px;
            font-weight: 700;
            line-height: 30px;
            
            text-align: left;
            margin-bottom: 16px;
        }
        &-text {
            color: rgb(0, 0, 0);
            font-size: 16px;
            
            line-height: 142%;
            
            text-align: left;
            margin-bottom: 30px;
        }
        &-body {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        &-arrow {
            display: none;
            transition: .3s all;
        }
    }
    .card__button {
        max-width: 154px;
    }
    &__accordion {
        display: none;
    }
}
@media (max-width: 1390px) {
    .abracadabra {
        &__wrapper {
            padding: 0 40px;
        }
    }
}
// @media (max-width: 1022px) {
//     .abracadabra {
//         &__wrapper {
//             padding: 0 27.5px;
//         }
//     }
// }
@media (max-width: 1022px) {
    .abracadabra {
        transform: translateY(-112px);
        &__wrapper {
            padding: 0 27.5px;
        }
        &__grid {
            display: none;
        }
        &__card {
            &-arrow {
                display: flex;
                flex-shrink: 0;
            }
            &-body {
                padding: 0 30px 30px 30px;
            }
            &-text {
                margin-bottom: 20px;
            }
        }
        &__accordion {
            display: flex;
            flex-direction: column;
            gap: 20px;
            &-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 30px;
            }
            &-title {
                color: rgb(121, 186, 42);
                font-size: 24px;
                font-weight: 700;
                line-height: 28px;
                
                text-align: left;
            }
            &-item {
                border-radius: 20px;
                background: #fff;
            }
            &-item.accordion__item_show {
                .abracadabra__card-arrow {
                    transform: rotate(180deg);
                }
            }
            &-item.accordion__item_slidedown {
                .abracadabra__card-arrow {
                    transform: rotate(180deg);
                }
            }
        }
    }
}
@media (max-width: 360px) {
    .abracadabra {
        &__title {
            font-size: 35px;
        }
    }
}