.articles {
    padding-bottom: 82px;
    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        transform: translateY(-157px);
    }
    &__pagination {
        display: flex;
        align-items: center;
        justify-content: space-between;
        transform: translateY(-40px);
        &-counter {
            color: rgba(255, 255, 255, .8);
            font-size: 11px;
            line-height: 142%;
            
            text-align: left;
        }
    }
    &__list {
        display: flex;
        gap: 20px;
        &-link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 55px;
            height: 55px;
            box-sizing: border-box;
            border: 2px solid rgb(255, 255, 255);
            box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.3);
            color: rgb(255, 255, 255);
            font-size: 30px;
            line-height: 35px;
            text-align: center;
            text-transform: uppercase;
            background: transparent;
            border-radius: 100%;
            transition: .3s all;
            &_icon {
                padding-left: 3px;
            }
        }
        &-link.active {
            background: #fff;
            color: rgb(121, 186, 42); 
        }
        &-link.disable {
            pointer-events: none;
        }
    }
    .card {
        &__text {
            margin-bottom: 40px;
        }
    }
}
@media (max-width: 1390px) {
    .articles {
        &__wrapper {
            padding: 0 40px;
        }
    }
}
@media (max-width: 1022px) {
    .articles {
        &__wrapper {
            padding: 0 27.5px;
        }
        &__pagination {
            transform: translateY(-60px);
        }
        .card {
            padding: 20px;
            &__image {
                height: 240px;
            }
            &__text {
                margin-bottom: 20px;
            }
        }
    }
}
@media (max-width: 800px) {
    .articles {
        &__grid {
            grid-template-columns: 1fr;
            transform: translateY(-110px);
            max-width: 415px;
            width: 100%;
            margin: 0 auto;
        }
    }
}
@media (max-width: 715px) {
    .articles {
        &__list {
            &-item.disable {
                display: none;
            }
        }
    }
}
@media (max-width: 606px) {
    .articles {
        &__grid {
            grid-template-columns: 1fr;
            transform: translateY(-110px);
        }
        &__list {
            gap: 15px;
        }
        &__pagination {
            transform: translateY(-40px);
            flex-direction: column;
            gap: 50px;
            align-items: center;
            &-counter {
                font-size: 14px;
            }
        }
    }
}
@media (max-width: 400px) {
    .articles {
        .card {
            &__image {
                height: 200px;
            }
        }
        &__list {
            gap: 10px;
        }
    }
}