.cppl {
    padding: 100px 0 86px 0;
    background: #79BA2A;
    transform: translateY(-1px);
    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 40px;
    }
    &__title {
        color: #fff;
        white-space: nowrap;
    }
    &__text {
        color: #fff;
        font-size: 20px;
        line-height: 142%;
        
        text-align: left;
        max-width: 845px;
        width: 100%;
    }
}
@media (max-width: 1390px) {
    .cppl {
        &__wrapper {
            padding: 0 40px;
        }
    }
}
@media (max-width: 1022px) {
    .cppl {
        padding: 70px 0 80px 0;
        &__wrapper {
            flex-direction: column;
            padding: 0 27.5px;
            gap: 30px;
        }
    }
}
@media (max-width: 606px) {
    .cppl {
        padding: 60px 0 15px 0;
        &__wrapper {
            padding: 0 27.5px;
        }
    }
}