.container {
    max-width: 1310px;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto;
}
// @media (max-width: 1022px) {
//     .container {
//         max-width: 890px;
//     }
// }
@media (max-width: 606px) {
    .container {
        padding: 0 5px;
    }
}