.search {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 20;
    opacity: 0;
    transition: .6s all;
    display: none;
}
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 20;
    opacity: 0;
    transition: .6s all;
    display: none;
    &__body {
        max-width: 390px;
        width: 100%;
        height: 100vh;
        background: #fff;
        padding: 30px 40px;
        box-sizing: border-box;
        overflow: auto;
        &::-webkit-scrollbar {
            width: 6px;               /* ширина всей полосы прокрутки */
          }
          
        &::-webkit-scrollbar-track {
            background: #fff;        /* цвет зоны отслеживания */
          }
          
        &::-webkit-scrollbar-thumb {
            background: rgb(246, 144, 0);    /* цвет бегунка */
            border-radius: 20px;       /* округлось бегунка */
        }
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
    }
    &__close {
        padding: 0;
        border: none;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(-7px);
        margin-bottom: 70px;
    }
    &__back {
        padding: 0;
        border: none;
        background: transparent;
        display: none;
        align-items: center;
        justify-content: center;
        transform: translateX(-7px);
        margin-bottom: 70px; 
    }
    &__search {
        display: none;
        &-form {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            padding-bottom: 10px;
            border-bottom: 1px solid rgb(0, 0, 0);
            max-width: 500px;
            width: 100%;
        }
        &-input {
            color: rgb(0, 0, 0);
            font-family: "Roboto", sans-serif;
            font-size: 17px;
            
            line-height: 24px;
            
            text-align: left;
            width: 100%;
            border: none;
            height: 24px;
            &::placeholder {
                color: rgb(0, 0, 0);
                font-family: "Roboto", sans-serif;
                font-size: 17px;
                
                line-height: 20px;
                
                text-align: left; 
            }
        }
        &-buttons {
            display: flex;
            align-items: center;
            gap: 15px;
        }
        &-button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            background: transparent;
            border: none;
            width: 24px;
            height: 24px;
            flex-shrink: 0;
        }
    }
    &__search.active {
        opacity: 0;
        display: flex;
        animation: openSearchMobileMenu .3s forwards;
    }
}
.modal-news {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 16;
    opacity: 1;
    padding: 100px 30px 0 30px;
    transition: .6s all;
    display: none;
    &__body {
        max-width: 1144px;
        width: 100%;
        background: #fff;
        padding: 50px 50px 0 50px;
        box-sizing: border-box;
        margin: 0 auto;
    }
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between; 
        margin-bottom: 75px;
    }
    &__date {
        /* Body text 3 */
        color: rgb(130, 129, 130);
        font-size: 16px;
        
        line-height: 142%;
        
        text-align: left;
    }
    // &__content {
    //     padding: 0 130px 90px 65px;
    // }
    &__title {
        margin-bottom: 25px;
        &_h3 {
            font-size: 32px;
            font-weight: 700;
            line-height: 38px;
            
            text-align: left;
        }
        &_h4 {
            font-size: 26px;
            font-weight: 700;
            line-height: 30px;
            
            text-align: left;
        }
        &_h5 {
            font-size: 22px;
            font-weight: 700;
            line-height: 26px;
            
            text-align: left;
        }
    }
    &__bigtext {
        font-size: 24px;
        
        line-height: 142%;
        
        text-align: left;
    }
    &__line {
        background: #79BA2A;
        height: 3px;
        width: 100%;
        margin: 80px 0;
    }
    &__text {
        font-size: 16px;
        
        line-height: 142%;
        
        text-align: left;
    }
    &__slider {
        margin: 60px 0;
        // padding: 0 40px;
        box-sizing: border-box;
        position: relative;
    }
    &__buttons {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        width: calc(100% + 80px);
        button {
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        }
    }
    &__scroll {
        height: 100%;
        overflow: auto;
        padding: 0 130px 90px 65px;
        &::-webkit-scrollbar {
            width: 6px;               /* ширина всей полосы прокрутки */
          }
          
        &::-webkit-scrollbar-track {
            background: #fff;        /* цвет зоны отслеживания */
          }
          
        &::-webkit-scrollbar-thumb {
            background: rgb(246, 144, 0);    /* цвет бегунка */
            border-radius: 20px;       /* округлось бегунка */
        }
    }
    &__slide {
        height: 450px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__lists {
        display: flex;
        gap: 160px;
        margin-bottom: 60px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 15px;
        &-text {
            font-size: 16px;
            
            line-height: 142%;
            
            text-align: left;
        }
    }
    &__smalltext {
        font-size: 14px;
        
        line-height: 142%;
        
        text-align: left;
    }
    &__mb {
        margin-bottom: 60px;
    }
}
.modal-news.active {
    display: flex;
}

.search.active {
    display: flex;
    animation: openSearchModal .3s forwards;
    .header__search {
        animation: openMoveSearchForm .6s forwards; 
    }
}
.search.close {
    display: flex;
    animation: closeSearchModal .6s forwards;
    .header__search {
        animation: closeMoveSearchForm .3s forwards; 
    }
}
@media (max-width: 1250px) {
    .modal-news {
        &__lists {
            gap: 40px;
            justify-content: space-between;
        }
    }
}
@media (max-width: 1200px) {
    .mobile-menu.active {
        display: flex;
        animation: openSearchModal .3s forwards;
        .mobile-menu__body {
            animation: openMoveMobileMenu .6s forwards; 
        }
    }
    .mobile-menu.close {
        display: flex;
        animation: closeSearchModal .6s forwards;
        .mobile-menu__body {
            animation: closeMoveMobileMenu .3s forwards; 
        }
    }
}
@media (max-width: 1022px) {
    .modal-news {
        padding: 80px 30px 0 30px;
        &__body {
            max-width: 730px;
            padding: 30px 30px 0 30px;
        }
        &__header {
            margin-bottom: 30px;
        }
        &__scroll {
            padding: 0 60px 0 30px;
        }
        &__line {
            margin: 45px 0;
        }
        &__slide {
            height: 300px;
        }
        &__buttons {
            width: calc(100% + 55px);
        }
        &__smalltext {
            font-size: 12px;
            
            line-height: 142%;
            
            text-align: left;
        }
    }
}
@media (max-width: 798px) {
    .modal-news {
        padding: 30px 30px 0 30px;
        &__lists {
            flex-direction: column;
            gap: 20px;
        }
        &__bigtext {
            font-size: 18px;
            
            line-height: 142%;
            
            text-align: left;
        }
        &__text {
            font-size: 15px;
            
            line-height: 160%;
            
            text-align: left;
        }
        &__scroll {
            padding: 0 20px 0 0;
        }
        &__buttons {
            width: 100%;
        }
        &__slider {
            margin: 50px 0;
        }
    }
}
@media (max-width: 540px) {
    .search.close {
        display: none;
    }
    .search.active {
        display: none;
    }
    .mobile-menu {
        &__wrapper {
            display: flex;
            flex-direction: column-reverse;
        }
    }
}

