.select {
    background: #fff;
    position: relative;
    border-radius: 20px;
    &__value {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        cursor: pointer;
        padding: 19px 24px;
        &-text {
            color: rgb(0, 0, 0);
            font-size: 18px;
            font-weight: 700;
            
            text-align: center;
            text-transform: uppercase;
        }
        &-arrow {
            transition: .3s all;
        }
    }
    
    &__body {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        background: #fff;
        border-radius: 0 0 20px 20px;
        overflow: hidden;
        display: none;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    &__list {
        &-option {
            display: flex;
            align-items: center;
            color: rgb(0, 0, 0);
            font-size: 16px;
            font-weight: 700;
            
            text-align: center;
            text-transform: uppercase;
            padding: 10px 24px;
            width: 100%;
            box-sizing: border-box;
            &:hover {
                background: rgb(246, 144, 0);
                color: #fff;
            }
        }
    }
}
.select.active {
    border-radius: 20px 20px 0 0;
    .select__body {
        display: block;
    }
    .select__value-arrow {
        transform: rotate(180deg);
    }
}
@media (max-width: 1022px) {
    .select {
        &__value {
            &-text {
                font-size: 16px;
            }
        }
    }
}